.blue-chat {
    background-color: blue;
    border-radius: 10px;
    color: white;
    width: 80%;
    perspective: 1000px;
}

.white-box {
    height: 100%;
    width: 80px;
    background-color: white;
    position: absolute;
    left: -24px;
    top: 2px;
    transform: rotateY(80deg) rotateX(0deg);

}

@media (max-width: 768px) {
    .white-box {
        left: -30px;
        top: 6px;
    }

    .white-box_2 {
        right: -30px;
        top: 6px;

    }
}

@media (max-width: 315px) {
    .white-box {
        left: -32px;
        top: 6px;
    }
    .white-box_2 {
        right: -32px;
        top: 6px;

    }
}